@font-face 
  font-family "SourceHanSerifCN"
  src url("/assets/font/SourceHanSerifCN-Medium.otf")
  
$fontFamily = "SourceHanSerifCN", "Source Han Serif", serif

.tags 
  margin-top 20px !important
  text-align center !important
  .tag
    display inline-block !important
    float none !important
    margin-right 5px !important
    margin-top 2px !important
    background-color #0000 !important
    a
      &:hover
        color lighten($accentColor, 20%) !important

input
  outline none !important
  -webkit-apprarance none !important
